@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Redressed&display=swap');

.title-element{
    display: flex;
    align-items: center;
    position: relative;
}
.title-element a{
    text-decoration: none;
    margin-left: 30px;

}
.container{
    display: flex;
    position: absolute;
    justify-content: space-between;
}


/* Слайдер */
* {
    font-family: 'Montserrat', sans-serif;
}
html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E5E5E5;
    padding-top: 85px;
}


.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.slider-wrapper {
    width: 100%;
    height: 490px;
    position: relative;
    box-shadow: 10px 10px 44px -10px rgba(0,0,0,0.75);
}

#btn-prev, #btn-next {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: gray;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

#btn-prev:hover, #btn-next:hover {
    opacity: 0.6;
}


#btn-next {
    left: auto;
    right: 0;
}

.text{
align-items: center;
justify-content: center;
    padding: 100px 100px 0 50px;
  color: #E5E5E5;
}

.slide {
    background-color: #000000;
display: flex;
align-items: center;
justify-content: center;

    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

img {
    width: 100%;
    height: 100%;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot.active {
    background-color: #000000;
}
.title{
    position: relative;
}
span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray; 
    margin-right: 10px;
    cursor: pointer;
}
span:last-child{
    margin-right: 0;
}




/* бургер */

#menu__toggle {
  
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .hamburger-menu{
     
    position: relative;
    display: none;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
  
    left: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    position: fixed;
    width: 300px;
    height: 400px;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
 


/* Центр */

.container-center{
   margin-top: 50px;
   display: flex;
   justify-content: center;
 
}

.title-center{
    margin-top: 100px;
    text-align: center;
}

.center-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 20px;
    background-color: palevioletred;
    border-radius: 20px;
    color: #CFD8DC;
}

.center-block-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 20px;
    background-color: purple;
    border-radius: 20px;
    color: #CFD8DC;
    margin-left: 30px;
}
.img-center{
    width: 100px;
    height: 50px;
    padding: 10px;
    background-color: #CFD8DC;
    border-radius: 10px;
    box-shadow: #000;
}

.text_center{
    margin-left: 50px;
}
.button{
    width: 150px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}


.start-block-one{
width: 250px;
text-align: center;
}

.icon-star{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.container-bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

footer{
    background-color: #000;
    margin-top: 100px;
}
.container-footer{
    display: flex;
    justify-content: space-around;
    color: #CFD8DC;
    padding: 100px;
}

.one-block{
    width: 300px;
}
.first-title{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Montserrat', sans-serif;
font-family: 'Redressed', cursive;
margin-top: 50px;
font-size: 20px;
}


  @media screen and (max-width: 500px){
    .nav{
        display: none;
    }
    .skill__table{
        display:block;
    }
    .skill_table2{
        display: block;
    }
    .color{
        padding-left: 0;
        margin-left: 0;
    }
    .lewels{
        padding-left: 0;
    }
    .imeges {
        margin-left: 0;
        
    }
    header{
        display: block;
    }
    .hamburger-menu{
        z-index: 1000;
        display: block;
       
    }
    .three-lewel>img{
        width: 156px;
        height: 23px;
        
    }
    .title-element{
        display: none;
    }
    .container{
        left: 200px;
        top: 20px;
    }
    .container-center{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .center-block{
        width: 350px;
    }
    .center-block-two{
        width: 350px;
        margin-left: 0;
        margin-top: 50px;
    }


    .container-bottom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .two-block{
        margin-left: 50px;
    }
}


